@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Black';
    src: url('../fonts/OpenSans-ExtraBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

html {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans' !important;
}

body {
	font-family: 'Open Sans' !important;
	margin: auto;
	width: 310px;
	margin-top: 50px;
	margin-bottom: 100px;
}

#body {
	overflow: hidden;
	font-family: 'Open Sans' !important;
	min-width: 250px;
	margin: 0px;
	min-height: 250px;
	height: auto;
	width: 100%;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	border-top-style: none;
	border-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: grid;
	grid-template-rows: auto auto auto auto;
}

#headlinediv {
	width: 100%;
	text-align: center;
	position: relative;
	top: 0px;
	left: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	z-index: 5;
	grid-row: 1;
}

#headlineinner {
	width: 100%;
	height: 40px;
	line-height: 40px;
	min-width: 160px;
	margin: auto;
	background-color: #444;
}

#headlineversion {
	font-size: 12px;
	background-color: rgb(192,0,0);
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 4px;
	color: white;
	cursor: default;
	font-weight: bold;
	position: absolute;
	right: 3px;
	margin-top: 2px;
	display: none;
}

#headline {
	font-size: 15px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#logo {
	width: auto;
	height: 20px;
	margin-top: 4px;
	display: inline-block;
	vertical-align: -3px;
}

#toggle-div {
	width: 300px;
	margin: auto;
	text-align: center;
	grid-row: 2;
	height: 80px;
}

#middle-div {
	max-height: 400px;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	overflow-y: auto;
	border-width: 1px;
	border-color: #dddddd;
	grid-row: 3;
}

.fehler {
	color: #d70022;
	visibility: hidden;
	font-size: 12px;
	font-weight: bold;
}

#passfehler {
	position: relative;
	top: -16px;
}

.warnung {
	color: #d7b600;
}

.textarea {
	width: 90%;
	min-height: 50px;
	max-height: 200px;
	height: 50px;
	resize: vertical;
	border-color: rgba(12, 12, 13, 0.2);
	border-color: rgba(169, 169, 169, 0.2);
	background-color: #f9f9f9;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	padding: 8px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: none;
}

.textfeld {
	width: 100%;
	height: 32px;
	padding-left: 8px;
	padding-right: 8px;
	border-color: rgba(12, 12, 13, 0.2);
	border-color: rgba(169, 169, 169, 0.2);
	background-color: #f9f9f9;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	box-shadow: none;
}

.textfeld:hover, .textarea:hover {
	border-color: rgba(12, 12, 13, 0.2);
}

.textfeld:focus, .textarea:focus {
	border-color: #0a84ff;
	box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
	background-color: white;
}

.angefasst:invalid {
	box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3);
	border-color: #d70022;
	background-color: white;
}

.error, .error:focus, .error:hover {
	box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3);
	border-color: #d70022;
}

.warning, .warning:hover, .warning:focus {
	border-color: #d7b600;
	box-shadow: 0 0 0 1px #d7b600, 0 0 0 4px rgba(215, 182, 0, 0.3);
}

.textfeld::placeholder, .textarea::placeholder {
	color: #737373;
}

#passwortouter {
	width: 90%;
	height: auto;
	position: relative;
}

#passwortanzeigen-outer {
	background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,0.6) 20%, rgba(249,249,249,0.8) 30%, rgba(249,249,249,1) 40%);
	padding-left: 20px;
	position: absolute;
	right: -15px;
	margin-top: -28px;
}

.pw-outer-light-bg {
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,0.8) 30%, rgba(255,255,255,1) 40%) !important;
}

#passwortanzeigen {
	color: #bbb;
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: none;
}

.label {
	position: relative;
	bottom: 5px;
	font-size: 13px;
	color: #0c0c0d;
}

#ergebnisdiv {
	display: none;
}

#untendiv {
	position: relative;
	bottom: 0px;
	left: 0px;
	z-index: 5;
	padding-top: 5px;
	background-color: white;
	width: 100%;
	grid-row: 4;
}

#losdiv {
	width: 100%;
	height: 40px;
	text-align: center;
	margin-top: 20px;
}

.button {
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
}

#encrypttoggleradio, #decrypttoggleradio {
	width: 0px;
	height: 0px;
}

#enrypttoggle {
	margin-right: -4px;
}

#decrypttoggle {
	margin-left: -4px;
}

.togglebutton {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 8px;
	color: #444;
	font-size: 15px;
	position: relative;
	top: 15px;
	border-style: solid;
	border-color: transparent;
	border-width: 0px;
	border-bottom-width: 2px;
	border-radius: 0px;
	cursor: pointer;
}

.togglebutton:focus {
	box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}

.togglebutton:hover {
	background-color: rgba(12, 12, 13, 0.1); 
}

.togglebutton:active {
	background-color: rgba(12, 12, 13, 0.2);
}

.toggleselected {
	color: #0060df;
	border-bottom-color: #0a84ff;
}

.togglenotselected:hover {
	border-bottom-color: rgba(12, 12, 13, 0.2);
}

.togglenotselected:active {
	border-bottom-color: rgba(12, 12, 13, 0.2);
}

.cryptbutton {
	padding-top: 11px;
	padding-bottom: 11px;
	background: linear-gradient(135deg, rgba(255,106,0,1) 24%, rgba(192,41,0,1) 100%);
	box-shadow: 2px 4px 10px -4px rgba(0,0,0,0.54);
	color: white;
	margin-bottom: 5px;
}

#weiter {
	display: none;
	color: #4179fc;
	border-color: #4179fc;
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
	margin-right: 10px;
}

#los:hover {
	box-shadow: 2px 4px 6px -4px rgba(0,0,0,0.54);
}

#los:active {
	box-shadow: 2px 4px 0px -4px rgba(0,0,0,0.54);
}

#ersterstern {
	padding-left: 10px;
}

.fa-star {
	margin: -5px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {
	width: 100%;
	text-align: center;
	color: #dddddd;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 20px;
	padding-bottom: 15px;
}

.link-span {
	white-space: nowrap;
}

.lightmode-span {
	display: none;
}

#download-addon {
	font-size: 13px;
	font-weight: normal;
	color: #bbb;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: #bbb;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	transition: 0.1s;
}

#download-addon:hover {
	transition: 0.1s;
	background-color: #fbfbfb;
}

#legal {
	width: auto;
	text-align: center;
	background-color: white;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
	z-index: 6;
	margin-top: 30px;
	padding-bottom: 12px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f3f3f3;
}

.link {
	color: #7f7f7f;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
	z-index: 2;
}

.linksymbol {
	margin-left: 10px;
}

#firstlink {
	margin-left: 0px;
}

.link:hover {
	text-decoration: underline;
	text-underline-position: under;
}

@media (max-width: 350px){
	body {
		width: calc(100% - 10px);
	}
	
	#body {
		min-width: 0px;
	}
	
	#toggle-div {
		width: auto;
	}
	
	.togglebutton {
		display: inline-block;
		margin-bottom: 5px;
	}
}

@media (max-width: 320px){
	#toggle-div {
		width: auto;
		height: 130px;
	}
	
	.togglebutton {
		display: block;
	}
}

@media ((hover: none) and (pointer: coarse)) or (orientation: portrait){
	body {
		width: calc(100% - 10px);
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	#body {
		min-width: 0px;
	}
	
	#headline {
		font-size: 25px;
	}
	
	#logo {
		height: 30px;
	}
	
	#headlineinner {
		height: 60px;
		line-height: 60px;
	}
	
	#toggle-div {
		width: auto;
		height: 150px;
	}
	
	.togglebutton {
		display: block;
		margin-bottom: 5px;
		font-size: 22px;
	}
	
	.label, input, textarea, .fehler, .warnung {
		font-size: 18px;
	}
	
	.textarea {
		min-height: 120px;
		max-height: 400px;
	}
	
	input, textarea {
		padding-left: 15px !important;
		padding-right: 15px !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		width: calc(90%) !important;
		border-radius: 5px !important;
	}
	
	#passwortanzeigen-outer {
		right: 5px;
		margin-top: -42px;
	}
	
	#passwortanzeigen {
		font-size: 22px;
	}
	
	.button {
		font-size: 20px;
		border-radius: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#legal {
		margin-top: 50px;
		padding: 0px;
	}
	
	.link {
		font-size: 18px;
	}
	
	.link-span {
		width: 100%;
		display: block;
		border-bottom-style: solid;
		border-color: rgba(169, 169, 169, 0.2);
		border-width: 1px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	
	.lightmode-span {
		display: none;
	}
	
	.link-span .link:hover {
		text-decoration: none;
	}
	
	.last-link-span {
		border: none;
		margin-bottom: 0px;
	}
}